* { padding: 0; margin: 0; outline: none; }

body {
    font: normal 12px/18px Verdana;
    color: #000;
}
p { margin-bottom: 18px; }
.asterisk { color: #F74747; }

.topArea {
    padding: 20px 30px; padding-bottom: 0;
    background-color: #FFCE6D;
    height: 60px;
}
.topArea p { margin-bottom: 15px; }

.navigation {
    list-style: none;
}
.navigation li {
    float: left;
    display: block;
    margin-right: 5px;
    border: solid #92B5EB; border-width: 3px 1px 0;
    position: relative;
}
.navigation li a {
    display: block;
    padding: 3px 7px;
    background-color: #fff;
    text-decoration: none;
}
.navigation li ul {
    position: absolute;
    list-style: none;
    top: 23px; left: 0;
    border: 1px solid #92B5EB;
}
.navigation li ul li { border: none; position: relative; margin: 0; display: block; width: 120px; }
.navigation li ul li a { display: block; }



.loginArea {
    width: 210px; height: 80px;
    position: absolute;
    top: 40%; left: 40%;
}
.loginArea td { padding-right: 7px; }
.loginArea .submit { margin-top: 5px; }


.main {
    padding: 20px 30px;
}
.main h1 { font: normal 24px/30px Verdana; margin-bottom: 18px; }
.main h3 { font: normal 20px/26px Verdana; margin-bottom: 18px; }

.main ul { margin-left: 25px; }

.main form { width: 550px; }

.main table td { padding: 4px 8px; }
.main table.stripedTable { width: 100%; border-spacing: 0; }
.main table.stripedTable tr.alt { background-color: #FCF1D6; }


form .dispayGroup { margin-top: 30px; padding: 10px; }
.tabSwitcher { margin-right: 10px; }

form.contentForm table td { padding: 3px; }
form.contentForm table td.col1 { width: 200px; }
form.contentForm table td.col1 .description { color: #808080; line-height: 12px; }

form input, form select, form textarea { border: 1px solid #000; padding: 2px; line-height: 12px; }
form.contentForm input, form.contentForm select, form.contentForm textarea { width: 300px; }
form input:focus, form select:focus, form textarea:focus { border: 1px solid #3d77cb; }
form input.submit { width: auto; cursor: pointer; display: block; margin: auto; }
form .errors { list-style: none; font-size: 10px; color: #F74747; margin: 0; }

div.confirm { display: none; }
div.confirm a { display: block; }
div.confirm a.yes { float: left; }
div.confirm a.no { float: right; }