* { padding: 0; margin: 0 }

body {
    font: normal 12px/18px Verdana;
    color: #000;
}


.topArea {
    padding: 20px 30px; padding-bottom: 0;
    background-color: #FFCE6D;
    height: 60px;
}
.topArea p { margin-bottom: 15px; }

.navigation {
    list-style: none;
}
.navigation li {
    float: left;
    display: block;
    margin-right: 5px;
    border: solid #92B5EB; border-width: 3px 1px 0;
    position: relative;
}
.navigation li a {
    display: block;
    padding: 3px 7px;
    background-color: #fff;
    text-decoration: none;
}
.navigation li ul {
    position: absolute;
    list-style: none;
    top: 23px; left: 0;
    border: 1px solid #92B5EB;
}
.navigation li ul li { border: none; position: relative; margin: 0; display: block; width: 120px; }
.navigation li ul li a { display: block; }



.loginArea {
    width: 210px; height: 80px;
    position: absolute;
    top: 40%; left: 40%;
}
.loginArea td { padding-right: 7px; }
.loginArea .submit { margin-top: 5px; }


.main {
    padding: 20px 30px;
}


.main form { width: 550px; }

form .dispayGroup { margin-top: 30px; padding: 10px; }
.tabSwitcher { margin-right: 10px; }

form.contentForm table td { padding: 3px; }
form.contentForm table td.col1 { width: 200px; }
form.contentForm table td.col1 .description { color: #808080; line-height: 12px; }

form input, form select { border: 1px solid #000; padding: 2px; }
form.contentForm input, form.contentForm select { width: 300px; }
form input:focus { border: 1px solid #3d77cb; line-height: 12px; }
form input.submit { width: auto; cursor: pointer; display: block; margin: auto; }